/*
http://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html

Example of setting a global font
Note: font-face currently not supported, but will be soon.  Instead, you need to call
javafx.scene.text.Font.loadFont(getClass().getClassLoader().getResource("ARIALUNI.TTF").toExternalForm(), 10);
somewhere to actually load the font. 

@font-face {
    font-family: 'Arial Unicode MS';
    src: url('ARIALUNI.TTF');
}
.root {
    -fx-font-family: 'Arial Unicode MS';
}
*/

.titled-separator-menu-item .line {
    -fx-border-color: 
        derive(-fx-background, -40%) 
        -fx-background 
        derive(-fx-background, 40%) 
        -fx-background;
}
.titled-separator-menu-item .label {
    -fx-background-color: derive(-fx-background, 0%);
    -fx-background-radius: 5,5,5,5;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: -2 2 -2 2;
}

.combobox-menu-item ,
.combobox-menu-item:hover ,
.combobox-menu-item:focused {
    -fx-background-color: transparent;
}
.combobox-menu-item .combo-box:disabled {
    -fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.textfield-menu-item ,
.textfield-menu-item:hover ,
.textfield-menu-item:focused {
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.textfield-menu-item .text-field:disabled {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
}

.date-menu-item ,
.date-menu-item:hover ,
.date-menu-item:focused {
    -fx-text-fill: black;
    -fx-background-color: transparent;
}
.date-menu-item .text-field:disabled {
    -fx-background-color: transparent, -fx-box-border, -fx-control-inner-background;
}



.filter-button-node {
    -fx-background-image: url('funnel-icon.png');
    -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-scale-y: 0.8;
}
.filter-button-node:hover {
    -fx-background-image: url('funnel-pencil-icon.png');
}
.filter-button-node.active{
    -fx-background-image: url('funnel-active-icon.png');
}
.filter-button-node.active:hover {
    -fx-background-image: url('funnel-pencil-active-icon.png');
}
.filter-button-node:focused {
    -fx-background-insets: 0, 0, 1, 1;
}

/* don't know wa way to do this w/o knowing the table in advance */
/*.column-header > .label {
    -fx-content-display: graphic-only;
}*/





.datepicker-invalid
{
    -fx-border-color: red;
}

.datepicker-valid
{
    -fx-border-color: null;
}

/* The main calendar pane */
.calendar {
}

.calendar-popup-button {
    -fx-background-image: url('calendar-icon.png');
    -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
}

.calendar-popup-button:hover {
    -fx-background-image: url('calendar-active-icon.png');
}

/* The calendar header, which contains the navigation elements. */
.calendar-header
{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.5em;
   /* -fx-background-radius: 10;*/
}

/* The calendar footer, which contains the today button. It is only visible when the today button is shown */
.calendar-footer
{
    -fx-background-color: linear-gradient(to top, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.2em;
}

/* The 3 different panes, which show the month, the year, and the decades */
.calendar-month-view, .calendar-year-view, .calendar-decades-view
{
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,80%), derive(-fx-base,40%));
    -fx-padding: 0;
}

/* The usual button which either display the day of the current month, or the month in the year view, or the year in the decades view */
.calendar-cell-current-month, .calendar-year-button, .calendar-month-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

/* The hover state of the buttons */
.calendar-cell-current-month:hover, .calendar-year-button:hover, .calendar-month-button:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The day buttons for the previous and next month. */
.calendar-cell-other-month {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-opacity: 0.7;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-background-radius: 8;
}

/* The hover state of this button. */
.calendar-cell-other-month:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The button which shows the current day. */
.calendar-cell-today {
     -fx-background-color: -fx-accent;
}

/* The buttons in the header and the footer */
.calendar-navigation-button, .calendar-navigation-title, .calendar-today-button {
    -fx-background-color: null;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

/* don't make the title button transparent, when it is disabled in the decades view */
.calendar-navigation-title:disabled {
    -fx-opacity: 1;
}

/* The arrow for navigation. SVG is used for it. */
.calendar-navigation-arrow {
    /*padding determines the size of the arrow; This should match the design size in the SVG */
    -fx-padding: 4 3.5 4 3.5;
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 2 3.5 2 3.5 */
    -fx-shape: "M 100 100 L 300 100 L 200 300 z";
    -fx-background-color: #ffffff;
}

/* The cell which contain the week day names */
.calendar-weekdays {
    -fx-background-color: -fx-body-color;
    -fx-padding: 3px;
}

.calendar-week-number {
    -fx-font-size: 0.8em;
    -fx-padding: 4px;
}
