.filter-menu-button {
    -fx-background-image: url('funnel-icon.png');
    -fx-background-repeat: no-repeat;   
    -fx-background-position: center center;
    -fx-background-color: transparent, transparent, transparent, -fx-body-color !important;
    -fx-scale-y: 0.8;
    -fx-padding: 4 12 4 12 !important;
}
.filter-menu-button:hover {
	-fx-background-color: transparent, -fx-outer-border, -fx-inner-border, -fx-body-color !important;
    -fx-background-image: url('funnel-pencil-icon.png');
}
.filter-menu-button.active {
    -fx-background-image: url('funnel-active-icon.png');
}
.filter-menu-button.active:hover {
    -fx-background-image: url('funnel-pencil-active-icon.png');
}
.filter-menu-button:focused {
	-fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color !important;
    -fx-background-insets: 0, 0, 1, 1;
}